<!-- Page Content Holder -->

<div class="container">
  <div class="row">
    <div class="col">
      <h2>PRSRX Training</h2>
    </div>
    <div class="col">
      <button class="btn btn-outline animated fadeInUpBig intro-contact button">
        <span class="spinner-grow spinner-grow-sm"></span>
        <a class="animated fadeInUpBig all-links text" href="https://membership.prsrxnetwork.com" target="blank">Start
          Training</a>
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h2>Employee Manual</h2>
    </div>
    <div class="col">
      <button class="btn btn-outline animated fadeInUpBig intro-contact button">
        <span class="spinner-grow spinner-grow-sm"></span>
        <a class="animated fadeInUpBig all-links text" href="./documents/Employee_Manual_Updated _(May13,2019).pdf" target="blank">Start
          Training</a>
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h2>Ocean Breeze Medicaid Compliance Program</h2>
    </div>
    <div class="col">
      <button class="btn btn-outline animated fadeInUpBig intro-contact button">
        <span class="spinner-grow spinner-grow-sm"></span>
        <a class="animated fadeInUpBig all-links text" href="https://mhr85.github.io/OB_Medicaid_Compliance_Program/" target="blank">Start
          Training</a>
      </button>
    </div>
  </div>

{{!-- <iframe width="760px" height="500px" src="https://sway.com/s/Waa6y0ZkgRmi7IPz/embed" frameborder="0" marginheight="0"
    marginwidth="0" max-width="100%"
    sandbox="allow-forms allow-modals allow-orientation-lock allow-popups allow-same-origin allow-scripts"
    scrolling="no" style="border: none; max-width: 100%; max-height: 100vh" allowfullscreen mozallowfullscreen
    msallowfullscreen webkitallowfullscreen></iframe>

</div> --}}




<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
            $(this).toggleClass('active');
        });
    });
</script>