<h1>Vegetables</h1>
<div class="line"></div>

<h2>Peas</h2>
<img src="./images/peas.jpg" class="img-fluid" alt="">
<p>Pea protein, especially in powder form has become commonplace to add as a vegan and vegetarian source. You will often
    find it in protein powders. Eaten fresh, frozen, or canned, peas also have additional benefits as the nutrients and
    fibers are retained in the whole plant. They are easy to add to soups, stews, rice dishes and more!
</p>
<h2>Nutritional Profile:</h2>
<p>Nutritional Profile: Per 1 cup (98g) – 26 calories, 1.76g protein, 0.13g total fat, 4.76g carbohydrates, 1.6g dietary
    fiber, 2.52g sugars, 0 mg sodium, 27 mg calcium, 2.1 mg iron. (Reference: Raw podded peas)
</p>

<div class="line"></div>

<h2>Edamame</h2>
<img src="./images/edamame.jpg" class="img-fluid" alt="">
<p>Often used in Japanese cuisine, edamame is immature soybeans. They come in their pods, and the green tender beans can
    be enjoyed once boiled or steamed. An excellent protein snack, add to salads, sides or stir-fries.
</p>
<h2>Nutritional Profile:</h2>
<p>Per 1/2 cup (75g) – 120 calories, 9g protein, 5g total fat, 11g carbohydrates, 8g dietary fiber, 2g sugars, 0 mg
    sodium, 40 mg calcium, 1.64 mg iron. (Reference: Ito boiled shelled edamame)
</p>

<div class="line"></div>

<h2>Kale</h2>
<img src="./images/kale.jpg" class="img-fluid" alt="">
<p>Kale might be trendy, but it's trendy because it's so damn healthy. It's rich in vitamins A and C. It also has tons
    of vitamin K, a fat-soluble vitamin that allows proteins to bond to calcium ions. Kale is also a great source of
    manganese, copper, fiber, calcium, potassium, and vitamin B-6, and even contains some omega-3 fatty acid.
</p>
<p>For maximum nutritional benefit, steam kale for about 5 minutes before eating it.</p>
<h2>Nutritional Profile:</h2>
<p>Per 1 cup (28g) – 33 calories, 2.9g protein, 0.6g total fat, 6g carbohydrates (Reference: Bodybuilding.com)
</p>

<div class="line"></div>

<h2>Brussels Sprouts</h2>
<img src="./images/brussels_sprouts.jpg" class="img-fluid" alt="">
<p>Love 'em or hate 'em, Brussels sprouts have found a home in the fitness community. This cruciferous vegetable is rich
    in sulfur-containing nutrients that enhance our body's detox systems, and offers plenty of fiber to aid digestion.
    Brussels sprouts are also rich in vitamins K, C, and B-6, and minerals like manganese, folate, and copper. Brussels
    sprouts also contain omega-3 fatty acids.
</p>
<p>Do yourself a favor and eat these little guys at least once per week!</p>
<h2>Nutritional Profile:</h2>
<p>Per 1 cup (28g) – 38 calories, 3g protein, 0.3g total fat, 8g carbohydrates (Reference: Bodybuilding.com)
</p>

<div class="line"></div>

<h2>Broccoli</h2>
<img src="./images/broccoli.jpg" class="img-fluid" alt="">
<p>Ah, broccoli—of course we had to include this popular veggie on our list. Broccoli is a bodybuilding staple because
    it is one of the most nutritious vegetables on the planet. In just one cup of chopped broccoli, you'll get more
    vitamin K and C than you need in a day and lots of other awesome minerals like potassium, calcium, and selenium.
    Broccoli is also full of anti-inflammatory and antioxidant benefits.
</p>
<p>Broccoli is low in calories, which makes it a good addition to your diet if you're trying to cut fat, lower your
    carbohydrate intake, or both. Even if it's not on your favorite vegetable list, we think it's a great idea to find
    some way to cook broccoli so you like it. It's just a great, healthy vegetable that belongs in your nutrition
    program, no matter your fitness goal.</p>
<h2>Nutritional Profile:</h2>
<p>Per 1 cup (28g) – 31 calories, 2.6g protein, 0.3g total fat, 6g carbohydrates (Reference: Bodybuilding.com)
</p>

<div class="line"></div>

<h2>Artichoke</h2>
<img src="./images/artichoke.jpg" class="img-fluid" alt="">
<p>Because artichokes are a little weird, people forget they're a legitimate vegetable, not just a pizza topping!
    Artichoke is high in dietary fiber, folic acid, and vitamin C. It's also one of the best vegetable sources of
    vitamin K. Aside from vitamins, artichoke is also rich in minerals like copper, calcium, potassium, and iron.
</p>
<p>One of the best and easiest ways to prepare an artichoke is to steam it with some garlic, olive oil, salt, and
    pepper. Yum!</p>
<h2>Nutritional Profile:</h2>
<p>Per 1 cup (28g) – 60 calories, 4.2g protein, 0.2g total fat, 13g carbohydrates (Reference: Bodybuilding.com)
</p>

<div class="line"></div>

<h2>Bell Pepper</h2>
<img src="./images/Bell_papper.jpg" class="img-fluid" alt="">
<p>Bell peppers of all colors are an amazing addition to your diet. They have a huge amount of vitamin C, and are also
    great sources of vitamin B-6, vitamin A, folate, and fiber. Although bell peppers are very low in fat, the little
    they do have ensures that you'll get some fat-soluble nutrients like vitamins A and E.
</p>
<p>Bell peppers are delicious in salads, grilled, or just sliced and enjoyed as a snack. If you like them, eat up!</p>
<h2>Nutritional Profile:</h2>
<p>Per 1 cup (28g) – 50 calories, 2g protein, 0.4g total fat, 12g carbohydrates (Reference: Bodybuilding.com)
</p>

<div class="line"></div>
<h2>Spinach</h2>
<img src="./images/spinach.jpg" class="img-fluid" alt="">
<p>Popeye was no dummy. Spinach belongs in your muscle-building nutrition plan. You can eat it raw, or, you can increase
    the fiber content by boiling it. Spinach's dark color means it's full of phytochemicals that have anti-inflammatory
    properties. Spinach is also a great source of vitamins A, K, and E as well as calcium.
</p>
<h2>Nutritional Profile:</h2>
<p>Per 1 cup (28g) – 41 calories, 5g protein, 0.5g total fat, 7g carbohydrates (Reference: Bodybuilding.com)
</p>





<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
            $(this).toggleClass('active');
        });
    });
</script>